* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  padding: 7px 0;
}
.container {
  max-width: 520px;
  margin: 0 auto;
  padding-top: 100px;
}
.nav {
  width: 100%;
  height: 80px;
  background: #ececec;
  position: fixed;
  gap: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.version {
  position: fixed;
  left: 0;
  bottom: 0;
  color: #111;
  z-index: 999;
}

.total-word {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.add-number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.input {
  height: 21px;
  margin: 0;
  padding: 2px 8px;
  width: 150px;
  border-radius: 4px;
  border: 1px solid gray;
  text-transform: lowercase;
}

.select-number {
  width: 90px;
  height: 28px;
  border-radius: 4px;
}

.button {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #555555;
  color: white;
}

.section {
  padding: 0 10px 20px 10px;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 7px 0 rgba(0, 0, 0, 0.19);
}

.item .text {
  padding: 5px;
  text-transform: lowercase;
}
.item .result {
  width: 50%;
  min-width: 100px;
}

.success {
  background: #d4edda;
  color: #155724;
}

.error {
  background: #f8d7da;
  color: #721c24;
}
